@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Prosto+One&display=swap");

h1 {
  font-family: "Prosto One", cursive;
  font-size: 70px;
  color: aqua;
  text-shadow: 2px 2px #fff, 6px 6px #437dbf;
  letter-spacing: 2px;
}
