@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
.App {
  font-family: "Prosto One", cursive;
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.header {
  font-family: "Wallpoet", cursive;
  font-size: 70px;
  font-weight: 700;
  color: rgb(11, 64, 133);
  text-shadow: 2px 2px #fff, 8px 8px #186ac7;
  letter-spacing: 4px;
  margin-top: 0;
}
